
  /* 2D TRANSITIONS */
  /* Grow 
  wobble-to-top-right
  wobble-skew
  buzz
  wobble-vertical
  shrink
  */
  
  /* Shrink */
  .shrink {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .shrink:hover, .shrink:focus, .shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
 
  
  
  /* Wobble Vertical */
  @-webkit-keyframes wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .wobble-vertical {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
    -webkit-animation-name: wobble-vertical;
    animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
 
  
  /* Wobble To Top Right */
  @-webkit-keyframes wobble-to-top-right {
    16.65% {
      -webkit-transform: translate(8px, -8px);
      transform: translate(8px, -8px);
    }
  
    33.3% {
      -webkit-transform: translate(-6px, 6px);
      transform: translate(-6px, 6px);
    }
  
    49.95% {
      -webkit-transform: translate(4px, -4px);
      transform: translate(4px, -4px);
    }
  
    66.6% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
  
    83.25% {
      -webkit-transform: translate(1px, -1px);
      transform: translate(1px, -1px);
    }
  
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  
  @keyframes wobble-to-top-right {
    16.65% {
      -webkit-transform: translate(8px, -8px);
      transform: translate(8px, -8px);
    }
  
    33.3% {
      -webkit-transform: translate(-6px, 6px);
      transform: translate(-6px, 6px);
    }
  
    49.95% {
      -webkit-transform: translate(4px, -4px);
      transform: translate(4px, -4px);
    }
  
    66.6% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
  
    83.25% {
      -webkit-transform: translate(1px, -1px);
      transform: translate(1px, -1px);
    }
  
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  
  .wobble-to-top-right {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .wobble-to-top-right:hover, .wobble-to-top-right:focus, .wobble-to-top-right:active {
    -webkit-animation-name: wobble-to-top-right;
    animation-name: wobble-to-top-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  /* Wobble Skew */
  @-webkit-keyframes wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
  
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
  
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
  
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
  
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
  
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  
  @keyframes wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
  
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
  
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
  
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
  
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
  
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  
  .wobble-skew {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .wobble-skew:hover, .wobble-skew:focus, .wobble-skew:active {
    -webkit-animation-name: wobble-skew;
    animation-name: wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  /* Buzz */
  @-webkit-keyframes buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  @keyframes buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  .buzz {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .buzz:hover, .buzz:focus, .buzz:active {
    -webkit-animation-name: buzz;
    animation-name: buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  